.tabla {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: right;
    width: 600px;
}

.tabla th {
    padding: 5px;
    font-size: 16px;
    background-color: #f2f2f2;
    color: black;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #558FA6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #558FA6;
    font-family: "Trebuchet MS", Arial, sans-serif;
    text-transform: uppercase;
}

/* Estilos para la fila modo1 */
.tabla .modo1 td {
    padding: 5px;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A4C4D0;
    border-bottom-color: #A4C4D0;
    font-family: "Trebuchet MS", Arial, sans-serif;
    text-align: left;
}

/* Estilos para la fila modo2 */
.tabla .modo2 {
    padding: 5px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #EBE9BC;
    border-bottom-color: #EBE9BC;
}

.tabla .modo2 td {
    font-size: 12px;
    font-weight: bold;
    background-color: #fdfdf1;
    color: #990000;
    border-bottom-style: solid;
    border-right-color: #EBE9BC;
    font-family: "Trebuchet MS", Arial, sans-serif;
    text-align: left;
}